<header>
    <div id="SAGAS-logo">
        <a href="/"><img src="/img/SAGAS-logo-yellow.svg" alt="SAGAS Library Logo" width="256"></a>
    </div>
</header>
<div class="website__top">
    <div class="content">
        <div class="top__content__wrap ">
            <div id="left-top-content" class="login__page"></div>
            <div id="right-login-content">
                <div class="form__wrap " id="login">
                    <div class="form__title">
                        <h2>Login</h2>
                        <span class="toggle_form__link">Novo(a) por aqui?</span>
                    </div>
                    <form id="login-form">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Digite seu email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Digite sua senha">
                            <a href="">Clique caso esqueça a senha</a>
                        </div>
                        <div class="bottom__form">
                            <button type="submit" class="btn btn-primary">Entrar</button>
                        </div>
                    </form>
                </div>
                <div class="form__wrap hidden" id="signup">
                    <h2>Cadastro</h2>
                    <form id="signup-form">
                        <div class="mb-3">
                            <label for="userName" class="form-label">Nome</label>
                            <input type="text" class="form-control" name="" id="userName"
                                placeholder="Digite o nome de usuário">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Digite seu email">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Digite sua senha">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Confirmar senha</label>
                            <input type="password" class="form-control" id="exampleInputPassword1"
                                placeholder="Digite novamente a mesma senha">
                        </div>
                        <div class="bottom__form">
                            <span class="toggle_form__link"><span class="fa-solid fa-arrow-left"></span>Voltar</span>
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>