/* FONTS */
@import url('https://fonts.cdnfonts.com/css/rakkas');
@import url('https://fonts.cdnfonts.com/css/oxanium');

/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

.content { /*  PAGE LIMITATION */
    padding: 44px 128px;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 { /* TITLES FONT */
    font-family: 'Rakkas', sans-serif;
}

p {
    font-family: 'Oxanium', sans-serif;
    font-size: 12px;
}

/* PAGE TOP BACKGROUND */

.website__top {
    background-image: url('../img/top-page-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 128vh;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

#header-tools {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

#header-tools img {
    cursor: pointer;
}
/* FIM HEADER */

/* CONTEÚDO EM DESTAQUE (TOPO) */
.top__content__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

/* SECTION - TOP 3 SEMANAL */
#right-top-content {
    width: 50%;
    min-width: 400px;
    text-align: center;
}

.top3__cards__wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
    padding: 8px;
}

.top3__cards__wrap::-webkit-scrollbar {
    background-color: #FFD60A;
    width: 6px;
}

.top3__cards__wrap::-webkit-scrollbar-thumb {
    border-radius: 8px;
    
}

.top3__cards__wrap::-webkit-scrollbar-thumb {
    background-color: #3800FF;
}

.book__card {
    text-align: left;
    padding: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.book__card:hover {
    box-shadow: 0px 2px 5px #999;
    transform: scale(1.02);
}

.top3__card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top3__card__img img {
    height: 140px;
    object-fit: cover;
}

.top3__card__text h5 {
    font-size: 1.2rem;
}

.top3__card__text p {
    font-size: 0.7rem;
    text-align: justify;
    max-width: fit-content;
    max-height: fit-content;
}
/* FIM SECTION - TOP 3 SEMANAL*/


/* SECTION - WEBSITE MIDDLE */
.middle__img {
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
}
/* FIM SECTION - WEBSITE MIDDLE */


/* SECTION - SEARCH */
.bottom__content__search {
    background-color: #FFD60A;
    padding: 16px 8px;
    border-radius: 16px;
    text-align: center;
}

.search__title > h2 {
    font-size: 2.4rem;
}

.search__input__wrap {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 8px auto;
    padding: 0 8px;
    width: 400px;
    border-radius: 8px;
}

.search__input__wrap input {
    width: 90%;
    font-size: 12px;
    outline: none;
    padding: 6px 0;
}

.search__input__wrap span {
    color: #ddd;
}

.search__result {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    padding: 8px;
    overflow-x: scroll;
    width: 400px;
}

.search__result__card {
    padding: 6px;
    min-width: 124px;
    height: 180px;
    overflow: hidden;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.search__result__card:hover {
    box-shadow: 0px 2px 5px #000;
    transform: scale(1.02);
}

.search__result__card img {
    height: 180px;
    object-fit: cover;
}

.search__result::-webkit-scrollbar {
    background-color: #FFD60A;
    width: 6px;
}

.search__result::-webkit-scrollbar-thumb {
    border-radius: 8px;
}

.search__result::-webkit-scrollbar-thumb {
    background-color: #3800FF;
}
/* FIM SECTION - SEARCH*/


.hidden {
    display: none;
}

/* SECTION - FOOTER */
footer {
    background-color: #FFD60A;
    text-align: center;
    padding: 8px 0;
}

.footer__links {
    color: #3800FF;
    word-spacing: 10px;
    margin-bottom: 32px;
    cursor: pointer;
}

footer p {
    margin-bottom: 0;
}