/* FONTS */
@import url('https://fonts.cdnfonts.com/css/rakkas');
@import url('https://fonts.cdnfonts.com/css/oxanium');

/* GENERAL SETTINGS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 0px;
}

.content { /*  PAGE LIMITATION */
    padding: 44px 128px;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6 { /* TITLES FONT */
    font-family: 'Rakkas', sans-serif;
}

p {
    font-family: 'Oxanium', sans-serif;
    font-size: 12px;
}

/* PAGE TOP BACKGROUND */

.website__top {
    background-image: url('../img/top-page-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 128vh;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
}

#header-tools {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

#header-tools img {
    cursor: pointer;
}
/* FIM HEADER */

/* CONTEÚDO EM DESTAQUE (TOPO) */
.top__content__wrap, .top__content__search {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
}

/* SECTION - TOP 3 SEMANAL */
#right-top-content {
    width: 50%;
    min-width: 400px;
    text-align: center;
}

.top3__cards__wrap {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 52vh;
    padding: 8px;
}

.top3__cards__wrap::-webkit-scrollbar {
    background-color: #FFD60A;
    width: 6px;
}

.top3__cards__wrap::-webkit-scrollbar-thumb {
    border-radius: 8px;
    
}

.top3__cards__wrap::-webkit-scrollbar-thumb {
    background-color: blue;
}

.book__card {
    text-align: left;
    padding: 8px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.book__card:hover {
    box-shadow: 0px 2px 5px #999;
    transform: scale(1.02);
}

.top3__card__img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.top3__card__img img {
    height: 140px;
    object-fit: cover;
}

.top3__card__text h5 {
    font-size: 1.2rem;
}

.top3__card__text p {
    font-size: 0.7rem;
    text-align: justify;
    max-width: fit-content;
    max-height: fit-content;
}
/* FIM SECTION - TOP 3 SEMANAL*/

/* SECTION - SEARCH */
.search__result {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    height: 60vh;
    padding: 8px;
    overflow-y: scroll;
}

.search__result::-webkit-scrollbar {
    background-color: #FFD60A;
    width: 6px;
}

.search__result::-webkit-scrollbar-thumb {
    border-radius: 8px;
    
}

.search__result::-webkit-scrollbar-thumb {
    background-color: blue;
}

.search__result__card {
    width: 140px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.search__result__card:hover {
    box-shadow: 0px 2px 5px #000;
    transform: scale(1.02);
}

.search__result__card img {
    height: 180px;
    object-fit: cover;
}

.search__right__text {
    width: 64%;
    display: flex;
    text-align: center;
    align-items: center;
}

.search__right__text > h2 {
    font-size: 3.2rem;
}

/* FIM SECTION - SEARCH*/

/* .top__content__search {
    padding: 8px;
    background-color: #fff;
    margin: 20px 0 0 20px;
    overflow-y: scroll;
}

.search__result {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 20px;
    height: 64vh;
}

.book__result__card {
    background-color: red;
    width: 120px;
    height: 160px;
} */
/* FIM SECTION - SEARCH */

.hidden {
    display: none;
}


/**/